:root {
  --spacing-1: 0.4rem;
  --spacing-2: 0.8rem;
  --spacing-3: 1.2rem;
  --spacing-4: 1.6rem;
  --spacing-5: 2rem;
  --spacing-6: 2.4rem;
  --spacing-7: 2.8rem;
  --spacing-8: 3.2rem;
  --spacing-9: 3.6rem;
  --spacing-10: 4rem;
  --palette-primary-dark: #54ad70;
  --palette-primary-light: #5bbc79;
  --palette-danger: #ef5350;
  --palette-grey-dark: #7f8fa4;
  --palette-grey-light: #aeb6c3;
  --palette-bg: #f8f8f8;
  --palette-grey-medium: #edeff0;
  --palette-black: #1d1d26;
  --palette-white: #fff;
  --palette-button-dark: #1d1d26;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  background-color: var(--palette-bg);
}

h1,
h2,
h3,
h4,
h5,
h6,
figure {
  padding: 0;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.872rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.328rem;
}

h6 {
  font-size: 1.072rem;
}

.flex-row {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

.text-secondary {
  color: var(--palette-grey-light);
}

.pointer {
  cursor: pointer;
}

.hidden {
  display: none !important;
}

.visible-flex {
  display: flex !important;
}

header {
  justify-content: space-between;
  align-items: center;
  background-color: var(--palette-white);
  height: 5.6rem;
}

header h4 {
  padding: var(--spacing-4) var(--spacing-8);
  padding-right: 0rem;
}

header h4 span {
  color: var(--palette-grey-dark);
}

main {
  position: relative;
}

.avatar-block {
  height: 5.6rem;
}

.avatar-block__icon {
  color: var(--palette-white);
  background-color: var(--palette-primary-dark);
  padding: var(--spacing-4);
}

.avatar-block__user-name {
  color: var(--palette-white);
  font-weight: normal;
}

.avatar-block__user-info {
  padding: 1.4rem 2.7rem 1rem 1.6rem;
  background-color: var(--palette-primary-light);
  align-items: center;
}

.categories-container {
  border-right: 1px solid var(--palette-grey-medium);
  width: 25.6rem;
}

#open-categories-div {
  display: none;
}

.open-categories-div--categories-open {
  opacity: 50%;
}


@media only screen and (max-width: 1100px) {
  .categories-container {
    position: absolute;
    background-color: var(--palette-bg);
    border-radius: 0px var(--spacing-5) var(--spacing-5) 0px;
    overflow: hidden;
    display: none;
  }
  #open-categories-div {
    display: flex;
    position: absolute;
    background-color: var(--palette-primary-dark);
    color: var(--palette-white);
    writing-mode: vertical-rl;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 50%;
    padding: var(--spacing-2) 0px
  }
}

.category {
  justify-content: space-between;
  padding: var(--spacing-4) var(--spacing-8);
  border-bottom: 1px solid var(--palette-grey-medium);
}

.category--active {
  background-color: var(--palette-primary-light);
  color: var(--palette-white);
}

.categories-container__heading {
  background-color: var(--palette-grey-medium);
}

.categories-container__dynamic {
  max-height: 70vh;
  overflow: scroll;
}

main section {
  flex: 1;
}

main > section {
  width: 50%;
}

.search {
  width: 100%;
  border: 0;
  border-bottom: 1px solid var(--palette-grey-medium);
  background-color: var(--palette-bg);
  padding: var(--spacing-4) var(--spacing-6);
  padding-right: 0;
  font-size: 1.4rem;
  height: 5.8rem;
}

.menu-container-parent {
  border-right: 1px solid var(--palette-grey-medium);
}

.menu-container {
  padding: var(--spacing-8) var(--spacing-6);
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: var(--spacing-8);
  justify-content: space-between;
}

@media only screen and (max-width: 1100px) {
  .menu-container {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    max-height: 80vh;
    overflow: scroll;
  }
}


.menu-container__item {
  height: fit-content;
  width: 13.2rem;
  border-radius: 0.4rem;
  padding: var(--spacing-2);
  padding-top: var(--spacing-4);
  /* background-color: var(--palette-grey-medium); */
  background-color: var(--palette-white);
}

div.menu-container__item h5 {
  margin-bottom: var(--spacing-6);
}

.menu-container__item__price {
  justify-content: space-between;
  margin-bottom: var(--spacing-2);
}

button.menu-container__item__button {
  font-size: 1.1rem;
  font-weight: 500;
  background-color: var(--palette-button-dark);
  border: 0;
  color: var(--palette-white);
  border-radius: 0.2rem;
  padding: var(--spacing-2);
}

.cart-header {
  height: 5.8rem;
  align-items: center;
  padding: var(--spacing-4) var(--spacing-10);
  border-bottom: 1px solid var(--palette-grey-medium);
  justify-content: space-between;
}

.cart-header__round-container {
  align-items: center;
}

.cart-header__counter--round {
  margin-left: var(--spacing-4);
  background-color: (var(--palette-primary-light));
  border-radius: 3rem;
  height: var(--spacing-6);
  width: var(--spacing-6);
}

.cart-header__round-container__text {
  height: var(--spacing-6);
  width: var(--spacing-6);
  margin-left: var(--spacing-2);
  background-color: var(--palette-primary-light);
  border-radius: var(--spacing-6);
  justify-content: center;
  align-items: center;
  color: var(--palette-white);
}

.container-details-wrapper {
  padding: var(--spacing-8) var(--spacing-10);
}

@media only screen and (max-width: 660px) {
  .container-details-wrapper {
    padding: var(--spacing-6) var(--spacing-6);
  }
  .cart-container__item__heading {
    font-size: 14px;
  }
  .cart-container__item__details {
    flex-direction: column !important;
    width: 100%;
    align-items: start !important;
  }
  .cart-container__item__details__controls {
    width: 100% !important;
    margin-bottom: var(--spacing-2);
  }
  .cart-container__item__details__total {
    align-items: start !important;
    margin-top: var(--spacing-2); 
  }
  .cart-container__item {
    padding: var(--spacing-3) var(--spacing-2) !important;
  }
  .cart-grandTotal {
    padding: var(--spacing-2) !important;
    flex-direction: column !important; 
  }
  .menu-container {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    max-height: 75vh;
  }
  .cart-header {
    padding: var(--spacing-2) !important
  }
}

@media only screen and (max-width: 475px) {
  .container-details-wrapper {
    padding: var(--spacing-2) var(--spacing-2);
  }
  .cart-actionButton {
    padding: var(--spacing-1) var(--spacing-2) !important;
  }
  .categories-container {
    width: 18rem;
  }
}

.cart-container {
  max-height: 60vh;
  overflow: scroll;
  margin-bottom: var(--spacing-4);
}

.cart-container__item {
  padding: var(--spacing-6) var(--spacing-2);
  justify-content: space-between;
  border-bottom: 1px solid var(--palette-grey-medium);
}

.cart-container__item__heading {
  margin-bottom: var(--spacing-2);
}

.cart-container__item__details {
  justify-content: space-between;
  align-items: end;
}

.cart-container__item__details__controls {
  width: 6rem;
  justify-content: space-between;
}

.cart-container__item__details__total {
  align-items: flex-end;
}

.cart-grandTotal {
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-3) var(--spacing-6);
  background-color: var(--palette-grey-medium);
  border-radius: var(--spacing-1);
  margin-bottom: var(--spacing-4);
}

.cart-actionButtons {
  justify-content: space-between;
}

.cart-actionButton {
  width: 45%;
  padding: var(--spacing-2) var(--spacing-4);
  border-radius: var(--spacing-1);
  border: 0; 
}

.cart-actionButtons__cancel {
  border: 1px solid var(--palette-danger);
  background-color: var(--palette-white);
  color: var(--palette-danger)
}

.cart-actionButtons__proceed {
  background-color: var(--palette-primary-light);
  color: var(--palette-white)
}